# Terraform #
.terraform
terraform.tfstate
terraform.tfstate.backup
base_variables.tf


# Ansible #
*.retry
*/*.retry

### OSX ###
# General
.DS_Store
.AppleDouble
.LSOverride


## VS CODE ##
.vscode

## Misc
Alicloud_Support

## Keys
*.pem
*rsa
*.pub
